<meta charset="utf-8">

{% include seo.html %}

<meta name="description" content="Younghoon Kim's personal academic page. Ph.D. Candidate in Economics at UCLA.">
<meta name="keywords" content="Younghoon Kim, Economics, UCLA, Younghoon, International Trade, Trade">
<meta name="robots" content="index, follow">

<!-- Add favicon -->
<link rel="icon" href="{{ '/assets/ucla.ico' | relative_url }}" type="image/x-icon">
<!-- Add manifest -->
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}">

<!-- Add Open Graph meta tags -->
<meta property="og:title" content="Younghoon Kim's academic page">
<meta property="og:type" content="website">
<meta property="og:url" content="https://younghoon-econ.github.io/">
<meta property="og:image" content="https://younghoon-econ.github.io/assets/ucla.ico">
<meta property="og:description" content="Ph.D. Candidate in Economics at UCLA">

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
