.author__avatar {
  width: 200px;
  height: 200px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.author__bio p {
  font-size: 16px; // 원하는 크기로 설정
  line-height: 1.0; // 적당한 줄 간격 설정
}

h1 {
    margin-bottom: 36px; // 마진 값을 조절하여 간격을 넓힘
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; // 기본 폰트 크기
  line-height: 1.5; // 줄 간격
}

strong {
  display: block; /* 블록 요소로 변경 */
  margin-bottom: 5px; /* 원하는 여백 설정 */
  margin-top: 5px; // 상단 여백 제거
}

.indent {
  margin-left: 20px; // 들여쓰기 크기 설정
}

.abstract {
  margin-left: 20px; // 들여쓰기 크기 설정
  font-size: 15px; // 원하는 크기로 설정
  text-align: justify; // 양쪽 정렬
}

.site-title {
  font-size: 22px;
}

.label {
  font-size: 14px;
}

.row {
  margin-bottom: 20px;
}

