.author__avatar {
  width: 200px;
  height: 200px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.author__bio p {
  font-size: 14px; // 원하는 크기로 설정
  line-height: 1.0; // 적당한 줄 간격 설정
}


body {
  font-family: 'Open Sans', sans-serif; // 폰트 설정
  font-size: 18px; // 기본 폰트 크기
  line-height: 1.6; // 줄 간격
}
