---
layout: archive
---

<main>
    <section class="subsection">
        <h3 class="subhead">About</h3>
        <p>Welcome! I am an Assistant Professor of Economics at the Lee Kuan Yew School of Publicy Policy, National University of Singapore.</p>
        <p>My research interests are in international trade, with a focus on trade policy.</p>
        <p>You can find my CV <a href="https://younghoon-econ.github.io/YKim_CV.pdf" target="_blank">here</a>.</p>
    </section>
    {{ content }}
</main>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
