---
layout: archive
---

<main>
    <section class="subsection">
        <h3 class="subhead">About</h3>
        <p>Welcome! I am a fifth-year Ph.D. Candidate in Economics at the University of California, Los Angeles.</p>
        <p>My research interests are in international trade, with a focus on trade policies.</p>
        <!-- <p>You can find my CV <a href="https://github.com/yourusername/yourrepository/raw/main/yourcv.pdf" target="_blank">here</a>.</p> -->
    </section>
    {{ content }}
</main>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
